.error-snackbar {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}
.success-snackbar {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }
.warning-snackbar {
    --mdc-snackbar-container-color: yellow;
    --mat-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: black;
}