<div class="container-fluid" id="admin-navbar">
    <img *ngIf="!isSmallScreen" src="../../../../assets/images/logo/svg/White logo - no background.svg" alt="freelearn-logo">
    <button mat-button routerLink="users" routerLinkActive="active">
        <i class="bi bi-people-fill" [ngClass]="{'large-icon': isSmallScreen}"></i>
      
        <span *ngIf="!isSmallScreen">Users</span>
    </button>
    <button mat-button routerLink="technologies" routerLinkActive="active">
        <i class="bi bi-tools" [ngClass]="{'large-icon': isSmallScreen}"></i>
        <span *ngIf="!isSmallScreen">Technologies</span>
    </button>
    <button mat-button routerLink="courses" routerLinkActive="active">
        <i class="bi bi-book-fill" [ngClass]="{'large-icon': isSmallScreen}"></i>
        <span *ngIf="!isSmallScreen">Courses</span>
    </button>
    <button mat-button routerLink="instructors" routerLinkActive="active">
        <i class="bi bi-mortarboard-fill" [ngClass]="{'large-icon': isSmallScreen}"></i>
        <span *ngIf="!isSmallScreen">Instructors</span>
    </button>
    <button mat-button id="log-out-btn" (click)="handleLogOut()">
        <mat-icon [ngClass]="{'large-icon': isSmallScreen}">exit_to_app</mat-icon>
    </button>
</div>