#admin-navbar{
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0;
    position: sticky;
    height: 50px;

    img{
        width: 150px;
        padding: 10px;
    }

    #log-out-btn{
        max-width: 50px;

        .large-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size: 20px;
        }
    }

    button{
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: var(--white);
        border-radius: 0%;
        
        i{
            margin-right: 0.5rem;
        }

        &.active{
            background: var(--gradient);
            color: var(--white);
            transition: 0.5s;
        }

        .large-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size: 20px;
           
        }
    }

}

@media(width < 700px){
    #admin-navbar{
        height: 50px;
    }
}