<div class="container-fluid" id="admin-navbar">
    <img *ngIf="!isSmallScreen" src="../../../../assets/images/logo/svg/White logo - no background.svg" alt="freelearn-logo">
    <button mat-button routerLink="users" routerLinkActive="active">
        <mat-icon [ngClass]="{'large-icon': isSmallScreen}">supervisor_account</mat-icon>
        <span *ngIf="!isSmallScreen">Users</span>
    </button>
    <button mat-button routerLink="technologies" routerLinkActive="active">
        <mat-icon [ngClass]="{'large-icon': isSmallScreen}">device_hub</mat-icon>
        <span *ngIf="!isSmallScreen">Technologies</span>
    </button>
    <button mat-button routerLink="courses" routerLinkActive="active">
        <mat-icon [ngClass]="{'large-icon': isSmallScreen}"> local_library</mat-icon>
        <span *ngIf="!isSmallScreen">Courses</span>
    </button>
    <button mat-button routerLink="instructors" routerLinkActive="active">
        <mat-icon [ngClass]="{'large-icon': isSmallScreen}">school</mat-icon>
        <span *ngIf="!isSmallScreen">Instructors</span>
    </button>
    <button mat-button id="log-out-btn" (click)="handleLogOut()">
        <mat-icon [ngClass]="{'large-icon': isSmallScreen}">exit_to_app</mat-icon>
    </button>
</div>