    <form [formGroup]="instructorForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="input-name">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="string">
            <mat-error *ngIf="instructorForm.get('name')?.hasError('required') && instructorForm.touched">
                Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input-name">
            <mat-label>Avatar image URL</mat-label>
            <input matInput formControlName="imagePath" type="string">
        </mat-form-field>
    
        <div class="social" formGroupName="socialMedia">
            <mat-form-field>
                <mat-label>Web</mat-label>
                <input matInput formControlName="web" type="string">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>LinkedIn</mat-label>
                <input matInput formControlName="linkedin" type="string">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Youtube</mat-label>
                <input matInput formControlName="youtube" type="string">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Twitter</mat-label>
                <input matInput formControlName="twitter" type="string">
            </mat-form-field>
        </div>
        <div class="btn-container">
            <button id="add-instructor" mat-raised-button color="primary" type="submit" [disabled]="!instructorForm.valid" >Add Instructor</button>
        </div>
    </form>
