<form [formGroup]="courseForm" (ngSubmit)="addCourse()" class="formCourse">
    <mat-form-field>
        <mat-label>Course name</mat-label>
        <input matInput formControlName="name" type="text">
        <mat-error *ngIf="courseForm.controls['name'].invalid && courseForm.controls['name'].touched">
            Please, assign a name to the course.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Course description</mat-label>
        <textarea matInput formControlName="description" cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        ></textarea>
        <mat-error *ngIf="courseForm.controls['description'].invalid && courseForm.controls['description'].touched">
          Description is required.
        </mat-error>
      </mat-form-field>

    <mat-form-field>
        <mat-label>Select a instructor</mat-label>
        <mat-select multiple (selectionChange)="onTechsSelectionChange($event)" formControlName="instructorId">
            <mat-option *ngFor="let instructor$ of instructors$" [value]="instructor$.id">
                {{instructor$.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="courseForm.controls['instructorId'].invalid && courseForm.controls['instructorId'].touched">
            Please, assign instructor name
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select technologies</mat-label>
        <mat-select placeholder="Techs" multiple (selectionChange)="onTechsSelectionChange($event)"
            formControlName="techs">
            <mat-option *ngFor="let tech$ of techs$" [value]="tech$.id">
                {{tech$.name}}
            </mat-option>

        </mat-select>
        <mat-error *ngIf="courseForm.controls['techs'].invalid && courseForm.controls['techs'].touched">
            Please, select at least one technology
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>image path</mat-label>
        <input matInput formControlName="imageUrl" type="text">
        <mat-error *ngIf="courseForm.controls['imageUrl'].invalid && courseForm.controls['imageUrl'].touched">
            Please, add a image
        </mat-error>
    </mat-form-field>



    <button mat-raised-button color="primary" type="submit">Add Course</button>

</form>