<div class="course">
    <div class="header-course">
        <app-header-course></app-header-course>     

        <div class="rating d-flex justify-content-end">
            <app-star-rating [rating]="course?.rating" (ratingUpdated)="handleUpdate($event)"></app-star-rating>
        </div>
      
    </div>
    <div class="main-course row col-12">
        <div class="instructors row col-12">           
            <app-details-course [courseId]="courseId" [instructorsId]="instructorsId" [techsId]="techsId"></app-details-course>
        </div>
        
    </div>
    <div class="" *ngIf="areLessonsVisible" >
        <app-lessons-course [lessons]="course?.lessons" ></app-lessons-course>
    </div>
 
</div>

