<div class="course">
    <div class="header-course">
        <app-header-course></app-header-course>
    </div>
    <div class="main-course row col-12">
        <div class="instructors row col-12">
            <h5>Instructors</h5>
            <app-details-course [courseId]="courseId" [instructorsId]="instructorsId" [techsId]="techsId"></app-details-course>
        </div>
        <div class="lessons row col-12">
            <app-lessons-course></app-lessons-course>
            
        </div>
    </div>
 
</div>

