.main-header{
    display: flex;
    justify-content: center;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 3;
    
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 1rem 3rem;
        @media (width < 460px) {
            width: 100%;
            margin: 1rem 1rem;
        }
    }

    .logo{
        font-weight: 700;
        font-size: 30px;
        img{
            width: 210px;
            @media (width < 460px) {
                width: 160px;
            }
        }
    }

    
}