<div class="flex-container">
    <button (click)="addCourse()" mat-raised-button>
        Add course
        <mat-icon iconPositionEnd>add</mat-icon>
    </button>
    <ng-container *ngIf="watchForm">
        <app-add-course-form (closeForm)="addCourse()"></app-add-course-form>
    </ng-container>
    <app-custom-table
        [data]="courses$" 
        [displayedColumns]="tableColumns"        
        [rows]="rows"
        [modalWith]="modalWith"
        [modalHeight]="modalHeight"
        [modalTitle]="modalTitle"
        (onEdit)="onEdit($event)"
        (onDelete)="onDelete($event)">
    </app-custom-table>

</div>

