<!-- <div class="flex-container">
    <app-button label="Add course" [type]="'primary'" [size]="'medium'" (onClick)="addCourse()" [iconName]="'add'">          
    </app-button>
    <app-add-course-form *ngIf="watchForm"></app-add-course-form>

</div> -->

<div class="flex-container">
    <button (click)="addCourse()" mat-raised-button>
        Add course
        <mat-icon iconPositionEnd>add</mat-icon>
    </button>
    <ng-container *ngIf="watchForm">
        <app-add-course-form></app-add-course-form>
    </ng-container>

</div>