<div class="update-modal">
  <div class="update-modal--content">
    <div class="--close-icon">
      <mat-icon (click)="close()">close</mat-icon>
    </div>

    <div class="--edit-icon">
      <mat-icon>edit</mat-icon>
    </div>
    <div mat-dialog-content class="modal-body">
      <h5 mat-dialog-title class="title">Update {{ title }}</h5>
      <p class="text">Are you sure you want to permanently update ?</p>
      <p class="text-advise">This action cannot be undone</p>
    </div>

    <div class="modal-buttons">
        <app-button
        [label]="'Update'"
        [type]="'success'"
        (onClick)="onUpdate()"
      ></app-button>
      <app-button
        [label]="'Close'"
        [type]="'close'"
        (onClick)="close()"
      ></app-button>
      
    </div>
  </div>
</div>
