.update-modal {
    min-width: 100px;
    max-width: 500px;
    min-height: 200px;
    padding: 10px;
    background-image: url("../../../../../assets/images/svgs/waveGreenDown.svg");
    background-repeat: no-repeat;
    background-size: content;
    background-position: bottom;

    &--content {
        .--close-icon {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }

        .--edit-icon {
            border-radius: 50%;
            border: 2px var(--succes);

            display: inline-block;
            background-color: var(--succes-transparent);
            padding: 10px;

            mat-icon {
                color: var(--succes);
                font-size: 24px;
                display: block;
                margin: 0 auto;
            }
        }

        .modal-body {
            margin: 10px 5px;

            .title {
                font-weight: bolder;


            }

            .text-advise {
                color: var(--error);

            }

        }


        .modal-buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            button {
                margin-left: 10px;


            }

            .confirm-update {
                background-color: var(--primary);
                color: var(--white);

                &:hover {
                    background-color: var(--primary-transparent);
                }
            }
        }

    }
}