.tech-logo{
    width: 50px;
}

.cell:hover{
    background-color: var(--mediumGrey);
    cursor: pointer;
}
.description{
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.courses{
    margin: 0;
    margin-left: 2rem;

}
.social-media{
    display: flex ;
    gap: 1rem;

    .linkedin{
        color: rgb(35, 78, 163);
    }
    .web{
        color: rgb(75, 181, 93);
    }
}
a{
    color: inherit;
    text-decoration: none;
    font-size: 20px;
}
.youtube{
    margin-left: 1.5rem;
    color: red;
    
}