.detail-modal {
    overflow-x: hidden;
    padding: 10px;
    background-image: url("../../../../../assets/images/svgs/waveGreenUp.svg");
    background-repeat: no-repeat;  
    background-size: contain;


    &--content {
        .--close-icon {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }

        .--detail-icon {
            border-radius: 50%;
            border: 2px var(--primary);

            display: inline-block;
            background-color: var(--primary-transparent);
            padding: 10px;

            mat-icon {
                color: var(--primary);
                display: block;
                margin: 0 auto;
            }
        }

        .modal-body {

            display: flex;
            flex-direction: column;
            gap: 5px;        

        }
    }

      .modal-buttons {
        display: flex;
        justify-content: space-between;      
    

        .btn-right {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
          
        }

        button {

            background-color: var(--primary-transparent);
        }

        .btn-delete {
            background-color: var(--error);
            color: white;
        }

        .btn-edit {
            background-color:var(--accent);
            color: white;
        }


    }
}

// .mat-mdc-dialog-container  {
   
//     height:auto !important;
// }