.detail-modal {
    overflow-x: hidden;
    max-width: 1034px;
    padding: 10px;
    background-image: url("../../../../../assets/images/svgs/waveGreenUp.svg");
    background-repeat: no-repeat;
    background-size: contain;


    &--content {
        .--close-icon {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }

        .--detail-icon {
            border-radius: 50%;
            border: 2px var(--primary);

            display: inline-block;
            background-color: var(--primary-transparent);
            padding: 10px;

            mat-icon {
                color: var(--primary);
                display: block;
                margin: 0 auto;
            }
        }

        .modal-body {

            display: flex;
            flex-direction: column;
            gap: 5px;

        }
    }

    .modal-buttons {
        display: flex;
        justify-content: space-between;


        .btn-right {
            display: flex;
            justify-content: flex-end;
            gap: 5px;

        }

        button {

            background-color: var(--primary-transparent);
            padding: 10px;
        }

        .btn-delete {
            background-color: var(--error);
            color: white;
        }

        .btn-delete:hover {
            background-color: var(--error-hover);

        }

        .btn-edit {
            background-color: var(--succes);
            color: white;
        }

        .btn-edit:hover {
            background-color: var(--succes-hover);

        }


    }
}

.information-related {
    margin: 10px;
  
    display: flex;
    align-content: center;
    justify-content: center;

    .box{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        background-image: url("../../../../../assets/images/svgs/waveGreenUp.svg");
        background-repeat: no-repeat;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: start;       
        gap: 5px;
        margin: 10px;
        .go-lessons{
            display: flex;
            justify-content: end;
            background-color: transparent;

            button{
            background-color: var(--primary);
            color: white;         
            border: none;
            border-radius: 5px;
            padding: 10px;           
        } 
         button:hover{
            background-color: var(--primary-hover);            
        }       
    }

//
}}