<div class="detail-modal">
    <div class="detail-modal--content">
        <div class="--close-icon">            
            <mat-icon (click)="close()">close</mat-icon>
        </div>
        <div class="--detail-icon">
            <mat-icon>info</mat-icon>
        </div>
        <div class="modal-body">
            
        <h5 class="title">Information</h5>
        <p class="text">This is a detail modal</p>
        </div>
        <div class="modal-buttons">
            <button class="btn" (click)="close()">Close</button>           
        </div>
    </div>

</div>
