<div class="main-container">
    <div class="hero-container">
        <div class="data">
            
                <img src="{{user?.photoURL}}" alt="" routerLink="/students/settings" matTooltip="Go settings" matTooltipPosition="below">
                
           
            <div class="info">
                <h1>{{user?.email}}</h1>
                <p>Ready to kickstart your day by gaining new knowledge?</p>
            </div>
            
        </div>
        <div class="img">
            <img src="../../../../../../../assets/images/main-page/326933.png" alt="">
        </div>
    </div>

</div>


