.a-box {
    display: inline-block;
    width: 275px;
    height: 350px;
    min-height: 350px;
    text-align: center;
    margin-top: 25px;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
      
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: var(--softGrey);
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
    width: 100%;
    height: 375px;
    max-height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
        margin: 20px 0px 10px 0px;
        color: transparent;
        background: var(--gradient);
        -webkit-background-clip: text;
        font-size: 18px;
      }
    
    div {
        width: 100%;
    }

    .lessons-text{
        margin-top: 10px;
    }

    app-btn-gradient{
        bottom: 0;
    }
}