<div class="flex-container">
  
  <app-button
    [label]="'Add instructor'"
    [type]="'gradient'"
    (onClick)="toggleForm()"
    [iconName]="'add'"
  >
  </app-button>
  <app-create-instructors-form *ngIf="showForm" (closeForm)="toggleForm()"></app-create-instructors-form>

  <app-custom-table 
  [data]="instructors$"
  [displayedColumns]="tableColumns"  
  [rows]="rows"
  [modalWith]="modalWith"
  [modalHeight]="modalHeight"
  [modalTitle]="modalTitle"
  (onEdit)="onEdit($event)"
  (onDelete)="onDelete($event)">
  </app-custom-table>
</div>