
.flex-container{
   padding: 15px;
   
   button{
      background: var(--gradient);
      color: white;
      font-size: 14px;
  }
}
.top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 4rem;
}
.input{
   margin-top: 1.3rem;
   width: 400px;
}
mat-label{
   display: flex;
   gap: 1rem;
}
.find-container{
   display: flex;
   justify-content: center;
   gap: 2rem;
   align-items: center;
   margin-top: 2rem;
   .noSearch{
       display: flex;
       gap: 2rem;
       align-items: center;
       font-size: 50px;
       justify-content: center;
   }
   .result{
       font-size: 30px;
       justify-content: center;
       display: flex;
       flex-direction: column;
       h3{
           color: transparent;
           background: var(--gradient);
           -webkit-background-clip: text;
       }
   }
   }