.active{
    height: 50px;
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #4defa7, #2d71fa) 1;

    i{
        color: transparent;
        background: var(--gradient);
        -webkit-background-clip: text;
    }
}