.course{
    height: 100%;
    max-height: 97%;
    box-sizing: content-box;  
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 20px;   
   
}
// h3{
//   padding: 10px;
// }


.course::-webkit-scrollbar {
    width: 5px;    
    border-radius: 20px;
      
  }
  
  .course::-webkit-scrollbar-track {
    height: 10px;    
   
  }
  
  .course::-webkit-scrollbar-thumb { 
    background: var(--gradient);   
    border-radius: 20px;      
    
  }

  .course {   
    scrollbar-color:var(--gradient);
  }