<form [formGroup]="resetPassForm">
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
    />
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
      hidePassword ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="resetPassForm.controls['password'].errors?.['required'] && resetPassForm.controls['password'].touched"
      class="error"
    >
      Password is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      [type]="hidePassword2 ? 'password' : 'text'"
    />
    <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">{{
      hidePassword2 ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      class="error"
      *ngIf="resetPassForm.controls['confirmPassword'].errors?.['required'] && resetPassForm.controls['password'].touched"
    >
      Confirm password is required.
    </mat-error>
  </mat-form-field>
  <app-button
    [label]="'Change password'"
    [type]="'gradient'"
    (onClick)="cambiarContrasena()"
  ></app-button>
</form>
