<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        Please, use a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched">
        Password is required.
      </mat-error>
    </mat-form-field>

    <mat-checkbox matInput formControlName="rememberMe" name="rememberMe" class="mt-3 mb-4">Remember me!</mat-checkbox>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign In</button>
    <button type="button" class="login-with-google-btn" (click)="onGoogleSubmit()">Log in with Google</button>
</form>

