<div class="flex-container">
    <button mat-raised-button class="button-with-icon" (click)="onToggleForm()">
        Add technology
        <mat-icon iconPositionEnd>add</mat-icon>
    </button>
    <app-new-tech-form *ngIf="isFormVisible"></app-new-tech-form>
    <app-custom-table 
    [data]="technologies$" 
    [displayedColumns]="tableColumns" 
    [rows]="rows" 
    [modalWith]="modalWith"
    [modalHeight]="modalHeight"
    [modalTitle]="modalTitle"
    (onEdit)="onEdit($event)" 
    (onDelete)="onDelete($event)">

</app-custom-table>
</div>

