.error-page{
width: 100%;
height: 100%;
background-image: url('./../../../../../assets/images/default-pages/notFound.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: contain; 


}