<div class="container">
    <div class="logo-container">
        <img src="../../../../assets/images/logo/png/White logo without words - no background.png" alt="web-logo">
    </div>
    <div class="menu-container">
        <div class="navigation-links">
            <div class="container" routerLink="home" routerLinkActive="active">
                <mat-icon>home</mat-icon>
            </div>
            <div class="container" routerLink="courses" routerLinkActive="active">
                <mat-icon>video_library</mat-icon>
            </div>
            <div class="container" routerLink="trainers" routerLinkActive="active">
                <mat-icon>school</mat-icon>
            </div>
            <div class="container" routerLink="technologies" routerLinkActive="active">
                <mat-icon>device_hub</mat-icon>
            </div>
            <div class="container" routerLink="settings" routerLinkActive="active">
                <mat-icon>settings</mat-icon>
            </div>
        </div>
        <div class="logout-icons">
            <mat-icon (click)="handleLogOut()">exit_to_app</mat-icon>
        </div>
    </div>
</div>
