<div [ngClass]="{'small-screen': isSmallScreen}" class="container">
    <div class="logo-container" *ngIf="!isSmallScreen">
        <img src="../../../../assets/images/logo/png/White logo without words - no background.png" alt="web-logo">
    </div>
    <div class="menu-container">
        <div class="navigation-links">
            <div class="container" routerLink="home" routerLinkActive="active">
                <i class="bi bi-house-fill" matTooltip="Home" matTooltipPosition="right"></i>
            </div>
            <div class="container" routerLink="courses" routerLinkActive="active">
                <i class="bi bi-book-fill" matTooltip="Courses" matTooltipPosition="right"></i>
            </div>
            <div class="container" routerLink="trainers" routerLinkActive="active">
                <i class="bi bi-mortarboard-fill" matTooltip="Trainers" matTooltipPosition="right"></i>
            </div>
            <div class="container" routerLink="technologies" routerLinkActive="active">
                <i class="bi bi-tools" matTooltip="Technologies" matTooltipPosition="right"></i>
            </div>
            <div class="container" routerLink="settings" routerLinkActive="active">
                <i class="bi bi-gear-wide-connected" matTooltip="Settings" matTooltipPosition="right"></i>
            </div>
        </div>
        <div class="logout-icons">
            <i class="bi bi-box-arrow-right" (click)="handleLogOut()" matTooltip="Log Out" matTooltipPosition="right"></i>
        </div>
    </div>
</div>
