.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;

    .logo-container{
        margin-top: 20px;
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        img{
            max-width: 70%;
        }
    }

    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        
        .navigation-links{
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; 

            .container{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                mat-icon{
                    margin-left: 20px;
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                    color: var(--grey);
    
                    &:hover{
                        cursor: pointer;
                        color: var(--white);
                    }
                }
            }
        }

        .logout-icons{
            display: flex;
            margin-left: 20px;
            justify-content: center;
            align-items: center;

            mat-icon{
                font-size: 30px;
                height: 30px;
                width: 30px;
                color: var(--grey);

                &:hover{
                    cursor: pointer;
                    color: var(--white);
                }
            }
        }
    }
}