<form [formGroup]="profileForm" class="form">
  <div class="img-container" >
      <div  class="photo" *ngIf="user?.photoURL">
        <img [src]="user?.photoURL" alt="User Photo" />
      </div>
      <div class="photo" *ngIf="!user?.photoURL">
        <img src="assets/images/default-pages/noimg.png" alt="User Photo" />
      </div>

      <mat-form-field class="input-name input-photo">
        <mat-label>Photo Url</mat-label>
        <input matInput formControlName="photoURL" type="string" />
      </mat-form-field>
  </div>
<div class="data">
  <mat-form-field class="input-name">
    <mat-label>Name</mat-label>
    <input matInput formControlName="displayName" type="string" />
  </mat-form-field>

  <mat-form-field class="input-name">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" type="string" />
  </mat-form-field>

  <mat-form-field class="input-name" >
    <mat-label>Email</mat-label>
    <input matInput disabled value="{{user?.email}}" type="string"/>
  </mat-form-field>
</div>

</form>
<app-button id="update-profile-btn" [label]="'Update profile'" [type]="'gradient'" (onClick)="onSubmit()"></app-button>

