:root {
    --primary: #047af1;
    --accent: #0BF082;
    --white: #ffffff; 
    --black: #282828;
    --grey: #7c7c7c;
    --softGrey: #f9fafb;
    --mediumGrey: #eeeeee;
    
    --error: #FF0000;
    --succes: #53b867;
    --warning: #ecba79;

    --gradient: linear-gradient(139deg,#4defa7 0,#2d71fa 100%) padding-box;
    
}