<div class="details-courses row">
    <div class="instructors  col-12 col-sm-12 col-md-6 row " *ngIf="instructorsData">
        <div class="instructors-cards d-flex flex-wrap flex-row justify-content-start gap-2" >      
            <div class="instructor-card" *ngFor="let instructor of instructorsData">
                <app-instructor-card [instructor]="instructor"></app-instructor-card>     
            </div>                 
                         
        </div>      
    </div>
    <div class="techs col-12 col-sm-12 col-md-6">
       aqui va techs
    </div>
</div>
