<div class="details-courses row">
    <div class=" col-12 col-sm-12 col-md-6 row " *ngIf="instructorsData">
        <div class="d-flex flex-wrap flex-row justify-content-start gap-2" >      
            <div class="" *ngFor="let instructor of instructorsData">
                <app-instructor-card [instructor]="instructor"></app-instructor-card>     
            </div>                 
                         
        </div>      
    </div>
    <div class="col-12 col-sm-12 col-md-6 row " *ngIf="techsData">
        <div class="d-flex flex-wrap flex-row justify-content-start gap-2" >      
            <div class="" *ngFor="let techs of techsData">
                <app-instructor-card [instructor]="techs"></app-instructor-card>     
            </div>                 
                         
        </div>      
    </div>
</div>
