<div class="header-container">
    <div class="d-block d-sm-none">
        <div class="header-course d-flex flex-wrap flex-row justify-content-center">
            <div class="img-content">
                <img src="{{course?.imageUrl}}" alt="">
            </div>
            <div class="main-course d-flex justify-content-center">
                <div class="content-course ">
                    <div class="title-course">
                        <h1 class="text-center">{{course?.name}}</h1>
                    </div>
                </div>
            </div>
            <div class="fav-container ">               
                <i class="bi bi-heart-fill"  *ngIf="isFavorite" [ngClass]="{'favorite': isFavorite}" (click)="onFavoriteClick()"></i>
                <i class="bi bi-heart"  *ngIf="!isFavorite" (click)="onFavoriteClick()"></i>
            </div>
        </div>


    </div>



    <div class="d-none d-sm-block">
        <div
            class="header-course d-flex flex-wrap flex-row justify-content-between justify-content-sm-center align-items-center">
            <div class="img-content">
                <img src="{{course?.imageUrl}}" alt="">
            </div>
            <div class="main-course d-flex flex-wrap flex-row justify-content-between justify-content-sm-center">
                <div class="content-course">
                    <div class="title-course ">
                        <h1 class="">{{course?.name}}</h1>
                    </div>
                    <div class="description-course">
                        <p>{{course?.description}}</p>
                    </div>
                </div>

            </div>
            <div class="fav-container ">               
                <i class="bi bi-heart-fill"  *ngIf="isFavorite" [ngClass]="{'favorite': isFavorite}" (click)="onFavoriteClick()"></i>
                <i class="bi bi-heart"  *ngIf="!isFavorite" (click)="onFavoriteClick()"></i>
            </div>
        </div>
    
    </div>

</div>