.content {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (width < 900px) {
        flex-direction: column-reverse; 
    }
   
    
    .left-container {
        width: 50%;
        display: flex;
        justify-content: center;
        
        img {
            width: 500px;
            background-image: linear-gradient(red, yellow);
            @media (width < 1100px) {
                width: 300px;
            }
        }

    }
    
    
    .right-container{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        
        
        div{
            width: 100%;
            margin-right: 35%;
            margin-bottom: 1rem;
            @media (width < 900px) {
                display: flex;
                flex-direction: column;
                align-items: center; 
                margin-right: 0;
            }
            
        }
        
        h1{
            width: 100%;
            font-size: 60px;
            font-weight: bold;
            span{
                color: transparent;
                background: var(--gradient);
                -webkit-background-clip: text;
            }
            @media (width < 1100px) {
                font-size: 35px;
            }
            @media (width < 900px) {
                font-size: 50px; 
                text-align: center;
            }
            @media (width < 600px) {
                font-size: 40px;
            }
        }
        p{
            font-size: 18px;
            width: 100%;
            text-align: justify;
            @media (width < 1100px) {
                font-size: 14px;
            }
        }
    }
}