.content {
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    .left-container {
        width: 50%;
        display: flex;
        justify-content: center;
        
        img {
            width: 500px;
            background-image: linear-gradient(red, yellow);
        }
        

    }
    
    
    .right-container{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        
        div{
            width: 100%;
            margin-right: 35%;
        }
        
        h1{
            width: 100%;
            font-size: 60px;
            font-weight: bold;
            span{
                color: transparent;
                background: var(--gradient);
                -webkit-background-clip: text;
            }
            
        }
        p{
            font-size: 18px;
            width: 100%;
            text-align: justify;
        }
    }
}