<div class="content">
  <div class="left-container">
    <img
      src="../../../../assets/images/main-page/perfil-retrato-joven-feliz-portatil-aislado-blanco (1).jpg"
      alt=""
    />
  </div>
  <div class="right-container">
    <div>
      <h1>The <span>best content</span> you decide how it fits your success</h1>
      <p>
        Specialize in development, regardless of your level of knowledge and
        experience, we will tailor our approach to meet your goals.
      </p>
      <app-button
        id="firstSectionBtn"
        [label]="'Start now'"
        [type]="'info'"
        routerLink="/login"
      ></app-button>
    </div>
  </div>
</div>
