<div class="flex-container">

    <div class="top">
        <div class="input-container">
          <mat-form-field class="input">
            <mat-label><i class="bi bi-search"></i>Filter users</mat-label>
            <input matInput  [formControl]="searchUsersControl" type="text" />
          </mat-form-field>
        </div>
    
    </div>

    <div *ngIf="noSearch" class="find-container">
      <div class="noSearch">
        <i class="bi bi-search"></i>
       
      </div>
      <div class="result">
         <h2>No results </h2>
        <h3>{{searchUsersControl.value}}</h3>
      </div>
      
    </div>

    <app-custom-table 
    *ngIf="!noSearch"
    [data]="getUsers()"
    [displayedColumns]="tableColumns" 
    [rows]="rows"
    [modalWith]="modalWith"
    [modalHeight]="modalHeight" 
    [modalTitle]="modalTitle" 
    (onEdit)="onEdit($event)"
    
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
    
    >

    
    </app-custom-table>
</div>