<div class="delete-modal">
  <div class="delete-modal--content">
    <div class="--close-icon">
      <mat-icon (click)="close()">close</mat-icon>
    </div>

    <div class="--delete-icon">
      <mat-icon>delete_forever</mat-icon>
    </div>
    <div class="modal-body">
      <h5 class="title">Permanently delete file</h5>
      <p class="text">Are you sure you want to permanently delete this file?</p>
      <p class="text-advise">This action cannot be undone</p>
    </div>

    <div class="modal-buttons">
      <app-button
  [label]="'Close'"
  [type]="'light'"
  (onClick)="close()"
></app-button>
      <app-button
        [label]="'Danger'"
        [type]="'danger'"
        (onClick)="onDelete()"
      ></app-button>
    </div>
  </div>
</div>
