button{
    background: linear-gradient(61deg,var(--accent) 1%,#20ded3 85%,#20ded3 90%) 0 0 /100% 100% no-repeat;
    color: var(--white) !important;
    font-weight:600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 1.4rem 1.4rem;
}

button:hover{
    background: var(--black) !important;
}